/* styles/globals.css */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif; /* or the font you're using */
  background: #0a0a0a; /* background of the page; replace with the actual color */
}

* {
  box-sizing: border-box;
}

.form-container {
  /* New class for common width */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 70px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.login-card {
  background: #121212; /* background of the card; replace with the actual color */
  border-radius: 8px;
  padding: 40px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-header {
  margin-bottom: 2rem;
  text-align: center;
}

.login-header h1 {
  color: #fff;
  margin: 0;
}

.login-header p {
  color: #aaa;
  margin: 0;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin-bottom: 1rem;
  border: 1px solid #333;
  background: #222;
  color: #fff;
  border-radius: 7px;
  height: 37px;
}

.btn-primary {
  background-color: #4f6f52; /* Replace with the olive/green color you have in the app */
  color: #fff;
  padding: 15px;
  border: none;
  width: 100%;
  border-radius: 7px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 30px;
  line-height: 3px;
}

.sub-heading {
  color: white;
  margin: 5;
}

.btn-primary:hover {
  background-color: #39573c; /* a darker shade for hover effect */
}

.btn-secondary {
  background-color: transparent;
  color: #fff;
  padding: 15px;
  border: 1px solid #4f6f52; /* same as the primary button color */
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.3s;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.btn-secondary .fa-icon {
  margin-right: 8px; /* Adjust the value as needed */
}

.btn-secondary:hover {
  border-color: #39573c; /* a darker shade for hover effect */
}

.logo-image {
  display: block;
  /* margin: 0 auto 0px; */
  max-width: 350px; /* Adjust this to set the image size */
  max-height: 350px; /* Adjust this to set the image size */
  width: auto; /* to maintain aspect ratio */
  height: auto; /* to maintain aspect ratio */
  border-radius: 10px;
  opacity: 0.5;
}
.form-container {
  max-width: 800px;
}

.image-container {
  position: relative;
  width: 100%; /* or the width of your choice */
  max-width: 400px; /* or the max width of your choice */
  margin: auto;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-text {
  color: white; /* Choose color that makes the text stand out on your image */
  font-size: 1.5rem; /* Adjust size as necessary */
  text-align: center;
  margin-bottom: 20px; /* Spacing between text and button */
}

.image-button {
  padding: 10px 20px;
  background-color: #4f6f52; /* olive/green color */
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.image-button:hover {
  background-color: #39573c; /* a darker shade for hover effect */
}

.last-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-2 {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 15px;
}

.extra {
  margin-bottom: 50px;
}

/* Add additional styling as needed */
